*{
	margin: 0px;
	padding: 0px;
}
body{
	background: lavenderblush;
	font-size: 14px;
}
ul li{
	list-style: none;
}
.clear{
	clear: both;
}
a{
	text-decoration:none;
	color: #CCCCCC;
}
/* 头部部分 */
.header{
	width: 1500px;
	height: 69px;
	margin: 0 auto;
	background: black;
	line-height: 69px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.header a>img{
	float: left;
	width: 135px;
	height: 69px;
}
.header ul{
	float: left;
	margin-left: 40px;
}
.header ul li{
	float: left;
	width: 100px;
	height: 69px;
	text-align: center;
}
.header ul li:hover{
	border-bottom: 3px solid #a5ea6a;
	height: 66px;
}
.header ul li a:hover{
	color: white;
}
.header div a{
	display: inline-block;
	float: right;
	text-align: center;
	width: 70px;
	height: 69px;
}
.header div a:hover{
    color: white;
	background: rgba(109,122,138,0.3);
}


/* 内容部分 */
.centent{
	width: 1200px;
	margin: 0px auto;
}
/* 内容轮播部分加左侧列表 */
.centent_pic{
	width: 100%;
	height: 510px;
	margin: 30px 0px 20px 0px;
}
/* 左部列表部分 */
.centent_pic_left{
	width: 216px;
	height: 510px;
	background: rgb(43,51,59);
	float: left;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
}
.centent_pic_ul{
	margin: 10px 0px 20px;
}
.centent_pic_ul li{
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	padding-left: 30px;
}
.centent_pic_ul li span{
	color: #ccc;
	float: right;
	margin-right: 10px;
}
.centent_pic_ul li:hover{
	background: rgba(109,122,138,0.3);
}
.menu{
	width: 800px;
	height: 450px;
	background: #fff;
	position: absolute;
	top: 0px;
	left: 216px;
	border-bottom-right-radius: 10px;
	display: none;
	font-size: 12px;
	z-index: 10;
}
.centent_pic_ul li:hover .menu{
	display: block;
}
.menu_centent{
	width: 700px;
	height: 120px;
	border-top: 1px solid #ccc;
	margin: 50px auto;
	position: relative;
}
.menu_centent h6{
	position: absolute;
	top: -8px;
	background: #fff;
	height: 13px;
	line-height: 12px;
}
.menu_centent p{
	line-height: 23px;
	margin-top: 25px;
}
.menu_centent p a{
	margin-right: 23px;
	font-size: 15px;
	color: #000;
}
.menu_bottom{
	background: #f4f4f4;
	height: 170px;
	border-bottom-right-radius: 10px;
	padding: 30px 30px;
}
.menu_bottom div{
    float: left;
}

.menu_bottom img{
	height: 42px;
	border-radius: 5px;
	float: left;
}
.menu_bottom h5{
	float: left;
	line-height: 20px;
	margin-left: 15px;
}
/* 左侧文字样式设置 */
.centent_pic_left ul li{
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	padding-left: 30px;
}
.centent_pic_left ul li:hover{
	background: rgba(109,122,138,0.3);
}
/* 右侧箭头设置 */
.centent_pic_left ul li span{
	color: #ccc;
	float: right;
	padding-right: 10px;
}
.centent_pic_left ul li span:hover{
	color: white;
}
/* 内容框样式设置 */



/* 右边轮播图部分 */
.centent_pic_right{
	width: 984px;
	height: 510px;
	float: left;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.right_menu{
	width: 984px;
	height: 60px;
	line-height: 60px;
	background: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.right_menu ul li{
	float: left;
	margin: 0px 12px;
}
.right_menu ul li a{
	color: #000;
	font-size: 15px;
}
.right_menu ul li span{
	padding: 1px 4px;
	color: #fff;
	border-radius: 3px;
}
.right_menu form{
	float: right;
	position: relative;
	height: 40px;
	width: 260px;
	margin-right: 20px;
}
.right_menu input{
	height: 40px;
	width: 260px;
	border: none;
	background: #f1f0f0;
}
.right_menu i{
	position: absolute;
	right: 10px;
	top: 0px;
}
.right_img{
	height: 330px;
	background: #FF1493;
}
.right_ad{
	height: 90px;
	margin: 20px 0px 10px;
}
.right_ad img{
	border-radius: 3px;
	margin: 0px 3px;
}




/* 图片部分 */
.centent_img{
	width: 100%;
	height: 80px;
	background: url(../image/vip.png);
	border-radius: 10px;
	margin-bottom: 20px;
}


/* 头条部分 */
.centent_title{
	height: 418px;
	border-radius: 10px;
}
.centent_title div{
	float: left;
	background: #fff;
	border-radius: 10px;
}
.centent_title_left{
	width: 280px;
	height: 418px;
	padding: 0px 10px;
}
.centent_title_left h4{
	height: 40px;
	border-bottom: 1px dotted #ccc;
	line-height: 40px;
	font-weight: bold;
	padding-left: 10px;
}
.centent_title_left li{
	width: 280px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}

/* 头条中间部分 */
.centent_title_center{
	width: 580px;
	height: 418px;
	margin: 0px 20px;
	padding: 0px 10px;
}
.centent_title_center h4{
	height: 40px;
	border-bottom: 1px dotted #ccc;
	line-height: 40px;
	font-weight: bold;
	padding-left: 10px;
}
.centent_title_center_div{
	width: 170px;
	height: 140px;
	background: #CCCCCC;
	margin: 20px 10px;
}
.centent_title_center_div div{
	width: 170px;
	height: 70px;
	background: white;
	text-align: center;
	box-shadow: 0 0 10px 2px #ccc;
}
.centent_title_center_div img{
	width: 170px;
	height: 80px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.centent_title_center_div div p{
	margin-top: 10px;
}
.centent_title_center_div div span{
	border-radius: 3px;
	color: white;
}
.centent_title_center_div div a{
	color: #000000;
}

.centent_title_right{
	width: 240px;
	height: 418px;
	padding: 0px 10px;
}
.centent_title_right h4{
	height: 40px;
	border-bottom: 1px dotted #ccc;
	line-height: 40px;
	font-weight: bold;
	padding-left: 10px;
}
.centent_title_right h4 b{
	float: right;
	margin-right: 10px;
}
.centent_title_right ul{
	margin-top: 20px;
	margin-left: 10px;
}
.centent_title_right ul li{
	height: 50px;
	line-height: 20px;
	margin-top: 8px;
}
.centent_title_right img{
	width: 40px;
	height: 40px;
	margin-right: 15px;
	float: left;
}
.centent_title_right span{
	width: 150px;
	float: left;
}

.centent_text{
	height: 500px;
	margin: 20px 0px;
	border-radius: 10px;
}
.centent_text div{
	float: left;
    background: #fff;
    border-radius: 10px;
}
.centent_text_left{
	width: 350px;
	height: 500px;
}
.centent_text_left .div_top{
	width: 350px;
	height: 185px;
	background: #009F95;
}
.centent_text_left .div_top_img{
	width: 350px;
	height: 185px;
}
.centent_text_left .div_bottom{
	width: 350px;
	height: 300px;
	background: white;
	margin-top: 15px;
}
.centent_text_left .div_bottom h4{
	height: 40px;
	border-bottom: 1px solid red;
	line-height: 40px;
	font-weight: bold;
	padding-left: 10px;
}
.centent_text_left .div_bottom h4 b{
	float: right;
	margin-right: 5px;
}
.centent_text_left .div_bottom li{
	font-size: 16px;
	color: #000000;
	width: 300px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin-left: 8px;
	float: left;
}
.centent_text_left .div_bottom a b{
    float: right;
	color: #ccc;
	margin-top: 5px;
	margin-right: 5px;
}
.centent_text_center{
	width: 510px;
	height: 500px;
	margin: 0px 20px;
	position: relative;

}
.centent_text_center_top{
	position: relative;
}
.centent_text_center_top ul{
	width: 510px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}
.centent_text_center_top ul li{
	float: left;
	width: 80px;
	height: 40px;
	font-size: 17px;
	margin-left: 10px;
	color: #000;
	text-align: center;
}
.centent_text_center_top ul li:hover{
	border-bottom: 1px solid red;
}
.center_menu1{
	width: 510px;
	height: 458px;
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 42px;
	cursor:pointer
}
.centent_text_center_top ul li:hover .center_menu1{
	display: block;
}
.center_menu1 p{
	margin-left: 10px;
	text-align: left;
	font-size: 15px;
}
.center_menu1 p b{
	color: red;
	float: right;
	margin-right: 10px;
}

.center_menu{
	width: 510px;
	height: 458px;
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 42px;
	display: none;
	cursor:pointer
}
.centent_text_center_top ul li:hover .center_menu{
	display: block;
}
.center_menu p{
	margin-left: 10px;
	text-align: left;
	font-size: 15px;
}
.center_menu p b{
	color: red;
	float: right;
	margin-right: 10px;
}

.centent_text_right{
	width: 300px;
	height: 500px;
	float: left;
}
.centent_text_right h4{
	width: 290px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
}
.centent_text_right ul{
	margin-top: 10px;
	margin-left: 10px;
}
.centent_text_right ul li{
	margin: 10px 0px;
}
.centent_text_right ul li a{
	font-size: 16px;
	color: #000000;
}
.centent_text_right ul li a:hover{
	color: #ccc;
	overflow: hidden;
}
/* 页脚部分 */
.bottom{
	width: 100%;
	height: 150px;
	margin: 0 auto;
	background: rgb(43,51,59);
	line-height: 69px;
}
.bottom_text{
	width: 1200px;
	height: 150px;
	margin: 25px auto;
}
.bottom_text_left{
	width: 800px;
	height: 150px;
	float: left;
}
.bottom_text_left ul li{
	float: left;
	width: 80px;
	height: 40px;
    line-height: 40px;
	margin-left: 20px;
	margin-top: 20px;
}
.bottom_text_left span{
	margin-left: 20px;
}

.bottom_text_right{
	width: 400px;
	height: 150px;
	float: right;
}
.bottom_text_left img{
	width: 150px;
	height: 150px;
	float: right;
}
